<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="mutate4csharp-local" value="../mutate4csharp-local-feed" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="mutate4csharp-local">
      <package pattern="mutate4csharp" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="coverlet.*" />
      <package pattern="Microsoft.*" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="xunit.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
